div[rel="tei"] {
    clear: both;
}
.tei-p div, .tei-head div {
    /* Display everything except head and p inline */
    display: inline;
}
.tei-head {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.tei-p {
    margin-bottom: 5px;
}
.tei-docAuthor, .tei-bibl { 
    /* Author, bibliograpy */
    font-style: italic;
}
.tei-hi {
    /* Highlighted */
    font-weight: bold;
}