<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/tei.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<title>Emory Women Writers Resource Project</title>
		<style>
			#header { background-color: #{{ app.color }}; }
			#footer { background-color: #{{ app.color }}; }
		</style>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="header">
			<ul id="header-nav">
                <li>
                    <span class="dropdown" id="collectionmenu">
			            {% if page_in_collection != 'page' %}
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                            {{ app.name }}
                            <span class="caret" style="margin-bottom: 3px;"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for collection in collections.values %}
                            <li role="presentation"><a href="{% url page_in_collection app=collection.shortname %}" {% if app == collection %}style="color:white; background-color:#{{ collection.color }};{% endif %}" role="menuitem" tabindex="-1" href="#">{{ collection.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a style="cursor: pointer;">
                            {{ app.name }}
                        </a>
			            {% endif %}
                    </span>
                </li>
			</ul>
		</div>
        <div id="nav">
            <ul id="main-nav">
				<li><a href="{% url 'index' app=app.shortname %}">Home</a></li>
				<li><a href="{% url 'browse' app=app.shortname %}">Browse</a></li>
				<li><a href="{% url 'search' app=app.shortname %}">Search</a></li>
				<li><a href="{% url 'about' app=app.shortname %}">About</a></li>
            </ul>
        </div>
		<div id="body" class="container-fluid">
			{% block body %}{% endblock %}
		</div>
		<div id="footer">
			<div id="eww">
				<span>{{ app.longname.0 }}</span>
			</div>
			<div id="rp">
				<span>{{ app.longname.1 }}</span>
			</div>
		</div>
        <script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
		