{% spaceless %}
<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/tei.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<title>Emory Women Writers Resource Project</title>
		<style>
			#header { background-color: #{{ app.color }}; }
			#footer { background-color: #{{ app.color }}; }
		</style>
		{% block head %}{% endblock %}
	</head>
	<body>
        <!-- Header and drop-down menu -->
		<div id="header">
			<ul id="header-nav">
                <li>
                    <div class="dropdown" id="collectionmenu">
                    </div>
                </li>
			</ul>
		</div>
        <!-- End of header -->
        
        <!-- Navigation elements -->
        <div id="nav">
            <ul id="main-nav">
				<li><a href="{% url 'index' app=app.shortname %}">Home</a></li>
				<li><a href="{% url 'browse' app=app.shortname %}">Browse</a></li>
				<li><a href="{% url 'search' app=app.shortname %}">Search</a></li>
				<li><a href="{% url 'about' app=app.shortname %}">About</a></li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="{% url 'index' app=app.shortname %}">Home</a></li>
                        <li><a href="{% url 'browse' app=app.shortname %}">Browse</a></li>
                        <li><a href="{% url 'search' app=app.shortname %}">Search</a></li>
                        <li><a href="{% url 'about' app=app.shortname %}">About</a></li>
                    </ul>
                    
                    {% if page_in_collection != 'page' %}
                    <hr style="margin: 10px 0 10px 0; padding: 0; display: block; height: 1px; border: 0; border-top: 1px solid #{{ app.color }};"/>
                    <ul class="nav nav-sidebar">
                        {% for collection in collections.values %}
                        <li><a href="{% url page_in_collection app=collection.shortname %}" {% if app == collection %}style="color:white; background-color:#{{ collection.color }};{% endif %}" role="menuitem" tabindex="-1" href="#">{{ collection.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                    {% if document %}
                    <hr style="margin: 10px 0 10px 0; padding: 0; display: block; height: 1px; border: 0; border-top: 1px solid #{{ app.color }};"/>
                    <ul class="nav nav-sidebar">
                        <li><a href="{% url 'page' app=app.shortname doc_id=document.id page='contents' %}">Table of Contents</a></li>
                        {% for div in document.front.div %}
                        <li><a href="{% url 'page' app=app.shortname doc_id=document.id page=div.id %}">{{ div.title_list|join:", " }}</a></li>
                            {% for subdiv in div.div %}
                            <li><a style="padding-left: 40px;" href="{% url 'page' app=app.shortname doc_id=document.id page=subdiv.id %}">{{ subdiv.title_list|join:", "}}</a></li>
                            {% endfor %}
                        {% endfor %}
                        {% for div in document.body.div %}
                        <li><a href="{% url 'page' app=app.shortname doc_id=document.id page=div.id %}">{{ div.title_list|join:", "|striptags|truncatewords:5 }}</a></li>
                            {% for subdiv in div.div %}
                            <li><a style="padding-left: 40px;" href="{% url 'page' app=app.shortname doc_id=document.id page=subdiv.id %}">{{ subdiv.title_list|join:", "}}</a></li>
                            {% endfor %}
                        {% endfor %}
                        {% for div in document.back.div %}
                        <li><a href="{% url 'page' app=app.shortname doc_id=document.id page=div.id %}">{{ div.title_list|join:", " }}</a></li>
                            {% for subdiv in div.div %}
                            <li><a style="padding-left: 40px;" href="{% url 'page' app=app.shortname doc_id=document.id page=subdiv.id %}">{{ subdiv.title_list|join:", "}}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!-- Main stuff -->
                <div id="body" class="col-sm-offset-3 col-md-offset-2 main">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- End of navigation elements -->
        
		<div id="footer">
			<div id="eww">
				<span>{{ app.longname.0 }}</span>
			</div>
			<div id="rp">
				<span>{{ app.longname.1 }}</span>
			</div>
		</div>
        <script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
{% endspaceless %}