{% extends 'base.html' %}

{% block head %}
	<style>
		.form-div {
			border: 1px solid black;
			padding: 5px 5px 5px 5px;
			margin-bottom: 10px;
		}
		.adv-search {
			color: #{{ app.color }};
			font-size: 10px;
		}
        .adv-search:hover {
            color: #{{ app.color }};
        }
        .form_label_tag {
            width: 130px;
            float: left;
        }
        .errorlist {
            padding: 0;
            margin: 0;
            color: red;
            font-size: 12px;
        }
        .errorlist li {
            list-style-type: none;
            display: inline;
        }
        .field-wrapper {
            padding-bottom: 5px;   
        }
	</style>
{% endblock %}

{% block body %}
	<h1>
        {% if advanced %}
        Keyword Search
        {% else %}
        Quick Search
        {% endif %}
    </h1>
	<div class="form-div">
        <div style="padding-bottom: 5px;">
            {% if advanced %}
            Search the full texts of each document by keyword.
            {% else %}
            Search for attributes of each document.
            {% endif %} Separate entries with a space.
        </div>
		<form class='search-form' action='{% if advanced %}{% url 'advsearch' app=app.shortname %}{% else %}{% url 'search' app=app.shortname %}{% endif %}' method='get'>
			{% csrf_token %}
			{% for field in form %}
				<div class="field-wrapper">
					{{ field.errors }}
					<div class="form_label_tag">{{ field.label_tag }}</div><div class="form_field">{{ field }}</div>
				</div>
			{% endfor %}
		{% if advanced %}<a class="adv-search" href="{% url 'search' app=app.shortname %}">Quick Search</a>{% else %}<a class="adv-search" href="{% url 'advsearch' app=app.shortname %}">Keyword Search</a>{% endif %}<br/><br/>
			<input type="submit" value="Search">
		</form>
	</div>
	{% if pages %}{% include 'results.html' %}{% elif form.is_valid %}No results found.{% endif %}
{% endblock %}