<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/tei.css' %}">
		<title>Emory Women Writer's Resource Project</title>
		<style>
			#header {
				background-color: #{{ app.color }};
			}
			#footer {
				background-color: #{{ app.color }};
			}
			#footer #rp {
				opacity: 0.4;
			}
			#collectionmenu {
				position: absolute;
				top: 25px;
				right: 5px;
			}
		</style>
		<script type="text/javascript">
			function goto(sel) {
				document.location.href = sel.value;
			}
		</script>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="collectionmenu">
			{% if page_in_collection != 'page' %}
			<select name="collections" onchange="goto(this)">
                {% for collection in collections.values %}
                <option value="{% url page_in_collection app=collection.shortname %}"{% if app == collection %} selected{% endif %}>{{ collection.name }}</option>
                {% endfor %}
			</select>
			{% endif %}
		</div>
		<div id="header">
			<ul id="header-nav">
				<li><a href="{% url 'index' app=app.shortname %}">Home</a></li>
				<li><a href="{% url 'browse' app=app.shortname %}">Browse</a></li>
				<li><a href="{% url 'search' app=app.shortname %}">Search</a></li>
				<li><a href="{% url 'essays' app=app.shortname %}">Essays</a></li>
				<li><a href="{% url 'about' app=app.shortname %}">About</a></li>
			</ul>
		</div>
		<div id="body">
			{% block body %}{% endblock %}
		</div>
		<div id="footer">
			<div id="eww">
				<span>{{ app.longname.0 }}</span>
			</div>
			<div id="rp">
				<span>{{ app.longname.1 }}</span>
			</div>
		</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
		