{% extends 'base.html' %}
{% block head %}
	<style>
		.doc-info .title {
			font-size: 25px;
		}
        .doc-info a {
			color: #{{ app.color }};
        }
		.doc-main a {
			color: #{{ app.color }};
		}
        .page-nav {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .page-nav li {
            display: inline;
        }
        .page-nav li+li:before {
            content: " | ";
        }
	</style>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/tei.css' %}">
{% endblock %}

{% block body %}
	{% if document %}
		<div class="doc-info">
			{% if document.title %}<div class="title">{{ document.title }}</div>{% endif %}
			{% if document.author %}<div class="author">By {{ document.author }}</div>{% endif %}
			{% if document.editor %}<div class="editor">Edited by {{ document.editor }}</div>{% endif %}
            {% if page != 'contents' %}
            <ul class="page-nav">
                <li><a href="{% url 'page' app=app.shortname doc_id=document.id page='contents' %}">Return to Table of Contents</a></li>
                {% if prev_id %}<li><a href="{% url 'page' app=app.shortname doc_id=document.id page=prev_id %}">Previous</a></li>{% endif %}
                {% if next_id %}<li><a href="{% url 'page' app=app.shortname doc_id=document.id page=next_id %}">Next</a></li>{% endif %}
            </ul>
            {% endif %}
		</div>
		<hr style="margin-bottom: 30px;" />
		<div class="doc-main">
			{% if page == 'contents' %}
			<ul>
                <!-- Front of the document -->
				{% if document.front.div %}
					<li>Front<ul>
					{% for div in document.front.div %}
						<li><a href="{% url 'page' app=app.shortname doc_id=document.id page=div.id %}">{{ div.type|capfirst }}</a></li>
					{% endfor %}
					</ul></li>
				{% endif %}
                
                <!-- Body of the document -->
				{% for div in document.body.div %}
					<li><a href="{% url 'page' app=app.shortname doc_id=document.id page=div.id %}">{{ div.title_list|join:", " }}</a></li>
					{% if div.div %}
						<ul>
							{% for underdiv in div.div %}
								<li><a href="{% url 'page' app=app.shortname doc_id=document.id page=underdiv.id %}">{{ underdiv.type|capfirst }}: {{ underdiv.title }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
                
                <!-- Back of the document -->
				{% if document.back.div %}
					<li>Back<ul>
					{% for div in document.back.div %}
						<li><a href="{% url 'page' app=app.shortname doc_id=document.id page=div.id %}">{{ div.type|capfirst }}</a></li>
					{% endfor %}
					</ul></li>
				{% endif %}
			</ul>
			{% else %}
				{{ formatted|safe }}
			{% endif %}
		</div>
	{% else %}
		<h1>There is no document like that. Sorry!</h1>
	{% endif %}
{% endblock %}