/* General things */
@font-face {
	font-family: Raleway;
	src: url('../fonts/raleway.ttf');
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#collectionmenu {
    position: absolute;
    top: 10px;
    left: 20px;
}
#collectionmenu > ul > li > a:hover {
    text-decoration: none;
    color: black !important;
}
#collectionmenu > a {
    color: #DDDDDD;
}
#collectionmenu > a:hover {
    color: white;
    text-decoration: none;
}
/* Everything relating to the header */
#header {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 0px 5px 0px 5px;
    height: 50px;
}
#header-nav {
	text-align: left;
	padding: 2px;
	margin: 0;
	font-size: 18px;
}
#header-nav li {
	display: inline;
}
#header-nav li + li:before {
	content: " | ";
	color: white;
}
#header-nav a:hover {
    color: white;
}

#nav {
    position: absolute;
    right: 15px;
    top: 8px;
    color: white;
}
.main {
    margin-top: 50px;   
}
#main-nav {
    padding: 2px;
    margin: 0;
    font-size: 18px;
}
#main-nav li {
    display: inline;
    padding: 15px;
}
#main-nav a {
    color: #DDDDDD;
}
#main-nav a:hover {
    color: white;
    text-decoration: none;
}

/* Everything relating to the footer */
#footer {
    z-index: 2;
	font-size: 20px;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#footer #eww {
	color: white;
	width: 75%;
	text-align: right;
	float: left;
}
#footer #rp {
	color: white;
	width: 25%;
	text-align: left;
	float: left;
	opacity: 0.4;
}
#footer #rp span {
	padding-left: 5px;
}
#footer #eww span {
	padding-right: 5px;
}
@media (min-width:1100px) {
	#footer {
		font-size: 35px;
	}
	#body {
		margin-bottom: 55px;
	}
}
@media (max-width:800px) {
	#footer {
		width: 800px;
	}
	#footer #eww {
		width: 30%;
	}
	#footer #rp {
		width: 70%;
	}
}
.thumbnail-div {
    color: white;
    background-color: #2D682F;
    height: 200px;
    font-size: 35px;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
}
.thumb {
    margin-bottom: 30px;
}